In [26]:
import pandas as pd
from sklearn.manifold import TSNE
import numpy 
import matplotlib.pyplot as plt
import seaborn
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv('/home/churkreev_group/data_E6.75_E.7.25_E6.75/output_tables/Badabam_colData.tsv' , sep='\t', index_col=0)

In [73]:
df.head()

,X,is_cell_control,total_features_by_counts,log10_total_features_by_counts,total_counts,log10_total_counts,pct_counts_in_top_50_features,pct_counts_in_top_100_features,pct_counts_in_top_200_features,pct_counts_in_top_500_features,...,log10_total_features_feature_control,total_features_by_counts_mt,log10_total_features_by_counts_mt,total_counts_mt,log10_total_counts_mt,pct_counts_mt,total_features_mt,log10_total_features_mt,cellName,clusters
E6.75_Mesp1.GFP._KO_003,E6,False,7882,3.896692,35190.258649,4.546435,16.128650,21.264471,28.435677,43.007675,...,0,0,0,0,0,0,0,0,E6.75_Mesp1.GFP._KO_003,1
E6.75_Mesp1.GFP._KO_004,E6,False,7369,3.867467,34544.395764,4.538390,16.446133,22.268612,30.118645,45.374654,...,0,0,0,0,0,0,0,0,E6.75_Mesp1.GFP._KO_004,6
E6.75_Mesp1.GFP._KO_006,E6,False,7279,3.862131,32977.901556,4.518236,16.954907,22.658640,30.509146,45.724110,...,0,0,0,0,0,0,0,0,E6.75_Mesp1.GFP._KO_006,6
E6.75_Mesp1.GFP._KO_007,E6,False,7198,3.857272,32145.731446,4.507137,17.529082,23.545915,31.483814,46.487248,...,0,0,0,0,0,0,0,0,E6.75_Mesp1.GFP._KO_007,6
E6.75_Mesp1.GFP._KO_008,E6,False,7162,3.855095,33286.171562,4.522277,18.138640,24.212501,32.403348,48.388741,...,0,0,0,0,0,0,0,0,E6.75_Mesp1.GFP._KO_008,12

In [29]:
df1 = df.iloc[:,37]

In [30]:
df1=pd.DataFrame(df1)

In [31]:
df1.head()

                                        cellName
E6.75_Mesp1.GFP._KO_003  E6.75_Mesp1.GFP._KO_003
E6.75_Mesp1.GFP._KO_004  E6.75_Mesp1.GFP._KO_004
E6.75_Mesp1.GFP._KO_006  E6.75_Mesp1.GFP._KO_006
E6.75_Mesp1.GFP._KO_007  E6.75_Mesp1.GFP._KO_007
E6.75_Mesp1.GFP._KO_008  E6.75_Mesp1.GFP._KO_008

In [71]:
#df1['column'] = df1['coloumn'].apply(lambda x: x.split('_')[0])

In [72]:
df1.columns.names = ['column']
df1.head()

column                 cellName      c
E6.75   E6.75_Mesp1.GFP._KO_003  E6.75
E6.75   E6.75_Mesp1.GFP._KO_004  E6.75
E6.75   E6.75_Mesp1.GFP._KO_006  E6.75
E6.75   E6.75_Mesp1.GFP._KO_007  E6.75
E6.75   E6.75_Mesp1.GFP._KO_008  E6.75

In [42]:
df1.head()

column                 cellName
E6.75   E6.75_Mesp1.GFP._KO_003
E6.75   E6.75_Mesp1.GFP._KO_004
E6.75   E6.75_Mesp1.GFP._KO_006
E6.75   E6.75_Mesp1.GFP._KO_007
E6.75   E6.75_Mesp1.GFP._KO_008

In [67]:
#df1.index

In [41]:
df1.index = list(map(lambda x: x.split('_')[0], df1.index))

In [68]:
#df2 = df1.as_matrix(columns=None)

In [11]:
#df2.shape

(576, 1)

In [69]:
#df1.head()

In [63]:
#df1.index.tolist()

In [65]:
df1['c'] = list(map(lambda x: x.split('_')[0], df1.index))

In [66]:
df1.head()

column                 cellName      c
E6.75   E6.75_Mesp1.GFP._KO_003  E6.75
E6.75   E6.75_Mesp1.GFP._KO_004  E6.75
E6.75   E6.75_Mesp1.GFP._KO_006  E6.75
E6.75   E6.75_Mesp1.GFP._KO_007  E6.75
E6.75   E6.75_Mesp1.GFP._KO_008  E6.75

In [61]:
#df1[:,'column']

In [70]:
m = pd.DataFrame()

In [60]:
#m = df1['column']

In [59]:
#df1.index = m

In [ ]:
df.index.tolist()

In [12]:
df3=pd.DataFrame(df2)

In [13]:
df3.head()

                         0
0  E6.75_Mesp1.GFP._KO_003
1  E6.75_Mesp1.GFP._KO_004
2  E6.75_Mesp1.GFP._KO_006
3  E6.75_Mesp1.GFP._KO_007
4  E6.75_Mesp1.GFP._KO_008

In [14]:
len (df2)

576

In [15]:
l = df2[1]

In [16]:
l
print (l)

['E6.75_Mesp1.GFP._KO_004']

In [70]:
#l.split('_')

In [ ]:
#for i in len(df2): 
#    for ii in len(df1[])

In [71]:
#new = df2.str.split("_", n = 1, expand = True)

In [59]:
print (l)

['E6.75_Mesp1.GFP._KO_004']

In [69]:
numpy.array2string(l)

"['E6.75_Mesp1.GFP._KO_004']"