In [17]:
import magic
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
def cut_gene(s):
    return s.split('_')[0]

In [19]:
path_atlas = "/home/churkreev_group/chukreev/batch_effect/atlas_6_5_corrected.tsv"
atlas_data = pd.read_csv(path_atlas, delimiter='\t', header=0)
atlas_data = atlas_data.T

In [20]:
atlas_data.columns = list(map(lambda x: cut_gene(x), atlas_data.columns))

In [ ]:
count = dict()
for gene in atlas_data.columns:
    try:
        count[gene]+=1
    except:
        count[gene]=1
to_delete_atlas = []
for gene in count.keys():
    if count[gene]>1:
        to_delete_atlas.append(gene)
atlas_data = atlas_data.drop(to_delete_atlas, axis=1)

In [21]:
path_exp = "/home/churkreev_group/chukreev/batch_effect/experiment_6_5_corrected.tsv"
exp_data = pd.read_csv(path_exp, delimiter='\t', header=0)
exp_data = exp_data.T

In [22]:
len(atlas_data)

3697

In [23]:
magic_op = magic.MAGIC()

In [ ]:
exp_data.columns = list(map(lambda x: cut_gene(x), exp_data.columns))

In [ ]:
count = dict()
for gene in exp_data.columns:
    try:
        count[gene]+=1
    except:
        count[gene]=1
to_delete_exp = []
for gene in count.keys():
    if count[gene]>1:
        to_delete_exp.append(gene)
exp_data = exp_data.drop(to_delete_exp, axis=1)

In [24]:
exp_data.head()

,Sox17,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,Pcmtd1,Rrs1,Mybl1,Vcpip1,...,Slc18a2,Pdzd8,Rab11fip2,Nanos1,Eif3a,Fam45a,Sfxn4,Prdx3,Zfp950,Csf2ra
E6.5_cell10_embryo2_single,0.004070,0.005161,0.002799,0.000928,-0.001304,0.002492,0.001459,0.006709,-0.000579,0.001541,...,-0.000603,0.002340,-0.000203,-0.000347,0.007595,0.000365,-0.000414,-0.003911,-0.000151,0.001012
E6.5_cell11_embryo2_single,0.001967,0.002648,0.002087,-0.002360,-0.000106,-0.003548,0.005929,0.009067,0.001794,-0.001321,...,-0.000677,0.000185,-0.000205,-0.000305,0.008658,-0.000339,-0.000941,0.004321,0.000041,-0.000010
E6.5_cell12_embryo2_single,0.003091,0.009266,0.000196,0.001651,-0.002508,0.001673,-0.000400,0.010206,-0.000471,0.003243,...,-0.000569,0.000015,-0.000182,-0.000237,0.008076,0.001101,0.002440,0.004150,-0.000151,0.000028
E6.5_cell19_embryo2_single,0.002647,0.006504,-0.001299,0.001873,0.000691,0.000998,-0.001867,0.007755,0.003560,0.003955,...,-0.000496,-0.003015,-0.000157,-0.000234,0.004465,0.004983,-0.000727,0.003255,-0.000147,0.003819
E6.5_cell22_embryo2_single,0.006958,0.006851,-0.001317,0.001097,-0.005306,-0.001696,0.005181,0.006504,-0.000610,0.004686,...,-0.000618,-0.002599,-0.000209,0.003036,0.008703,0.001709,-0.000982,0.002950,-0.000153,-0.000031

In [7]:
len(exp_data)

576

In [8]:
len(exp_data.columns)

11871

In [9]:
unique_columns = sorted(list(set(atlas_data.columns).intersection(set(exp_data.columns))) )

In [ ]:
exp_data = exp_data[unique_columns]

In [ ]:
atlas_data = atlas_data[exp_data.columns]

In [25]:
joined_data = atlas_data.append(exp_data)

In [26]:
len(joined_data.columns)

11037

In [27]:
X_magic = magic_op.fit_transform(joined_data)

Calculating MAGIC...
  Running MAGIC on 3864 cells and 11037 genes.
  Calculating graph and diffusion operator...
    Calculating PCA...

/home/churkreev_group/.local/lib/python3.7/site-packages/magic/magic.py:376: UserWarning: Input matrix contains unexpressed genes. Please remove them prior to running MAGIC.
  warnings.warn("Input matrix contains unexpressed genes. "

    Calculated PCA in 2.41 seconds.
    Calculating KNN search...
    Calculated KNN search in 2.16 seconds.
    Calculating affinities...
    Calculated affinities in 1.15 seconds.
  Calculated graph and diffusion operator in 5.78 seconds.
  Calculating imputation...
    Automatically selected t = 7
  Calculated imputation in 0.46 seconds.
Calculated MAGIC in 6.68 seconds.

In [ ]:
X_magic.iloc[len(atlas_data):,:].head()

In [28]:
imputed_exp = X_magic.iloc[len(atlas_data):, :]

In [29]:
imputed_exp.head()

,Sox17,Mrpl15,Lypla1,Tcea1,Atp6v1h,Rb1cc1,Pcmtd1,Rrs1,Mybl1,Vcpip1,...,Slc18a2,Pdzd8,Rab11fip2,Nanos1,Eif3a,Fam45a,Sfxn4,Prdx3,Zfp950,Csf2ra
E6.5_cell10_embryo2_single,0.002682,0.006431,0.001279,0.001290,0.000064,0.000151,0.000109,0.006666,-0.000022,0.000481,...,-0.000141,0.000188,0.000005,0.000191,0.007004,0.000097,-0.000065,0.002626,0.000016,0.000240
E6.5_cell11_embryo2_single,0.002834,0.006560,0.001438,0.001275,0.000120,0.000158,0.000124,0.006549,-0.000022,0.000461,...,-0.000128,0.000210,0.000008,0.000183,0.006942,0.000120,-0.000066,0.002574,0.000027,0.000238
E6.5_cell12_embryo2_single,0.002246,0.006988,0.001335,0.001311,0.000185,0.000135,0.000158,0.006398,-0.000008,0.000405,...,-0.000060,0.000251,0.000020,0.000180,0.006694,0.000146,-0.000046,0.002525,0.000044,0.000228
E6.5_cell19_embryo2_single,0.002246,0.006769,0.001232,0.001285,0.000156,0.000138,0.000126,0.006486,-0.000013,0.000436,...,-0.000097,0.000207,0.000013,0.000178,0.006876,0.000114,-0.000049,0.002571,0.000030,0.000233
E6.5_cell22_embryo2_single,0.002744,0.006377,0.001283,0.001287,0.000053,0.000152,0.000105,0.006692,-0.000023,0.000489,...,-0.000150,0.000182,0.000004,0.000192,0.007029,0.000094,-0.000067,0.002636,0.000013,0.000241

In [30]:
imputed_exp = imputed_exp.T

In [ ]:
min_val = np.min(imputed_exp)

In [ ]:
min_min_val = np.min(min_val)

In [ ]:
imputed_exp = imputed_exp + 1.01 * abs(min_min_val)

In [31]:
path_imputed = path_exp+"_imputed"

In [32]:
imputed_exp.to_csv(path_imputed, sep='\t', columns=imputed_exp.columns, index=True)

# Finish

In [ ]:
from tqdm import tqdm

In [ ]:
def extract(s):
    return s.split('_')[1]

In [ ]:
# Select day 7.25
required_day = "E7.25"
cells_in_7_25 = set()
N = 0
path_to_meta = "/home/churkreev_group/vyatkin/data/E_65_85/EmbryoTimecourse2018/download/atlas/meta.tab"
f = open(path_to_meta, 'r')
first = f.readline()
cell = f.readline()
leng = 139332
for i in tqdm(range(leng-1)):
    if cell.split()[3]==required_day:
        cells_in_7_25.add(extract(cell.split()[0]))
        N += 1
    cell = f.readline()
f.close()

In [ ]:
len(cells_in_7_25)

In [ ]:
cells_in_7_25 = np.sort(np.array(list(cells_in_7_25), dtype=int))

In [ ]:
cell_id_to_barcode_index = dict()
for i in range(len(cells_in_7_25)):
    cell_id_to_barcode_index[int(cells_in_7_25[i])] = i+1

In [ ]:
number_of_cells = 139331
path_to_barcodes = "/home/churkreev_group/vyatkin/data/E_65_85/EmbryoTimecourse2018/download/atlas/barcodes.tsv"
path_to_new_barcodes = "/home/churkreev_group/vyatkin/data/E_65_85/EmbryoTimecourse2018/download/atlas_E_7_25/barcodes.tsv"
f = open(path_to_barcodes, 'r')
g = open(path_to_new_barcodes, 'w')
for i in tqdm(range(number_of_cells)):
    cell_number = int(str(i+1))
    if cell_number in cells_in_7_25:
        g.write("cell_{0}{1}".format(str(cell_number), '\n'))
g.close()
f.close()

In [ ]:
for_labels = "/home/churkreev_group/data_E3.5_to_E6.5/output_tables/MoleEye_colData.tsv"
labels = pd.read_table(for_labels, header=0, sep='\t')

In [ ]:
labels = labels[["E6.5" in x for x in np.array(labels.index)]]["clusters"]

In [ ]:
to = "/home/churkreev_group/day6.5_labels"
labels.to_csv(to, sep='\t')